.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.product .product-name{
    color: blue;
    font-weight: 400;
}
.add-to-cart-button{
    background: rgb(207, 156, 27);
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.add-to-cart-button:hover{

}